.btn-primary {
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #048636; /* Darker blue */
  transform: scale(1.03); /* Slightly enlarges */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  border: none;
}

.signup {
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
  color: whitesmoke
}
.signup .form-group label {
  color: white;
  font-weight: 300;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}