@media (max-width: 768px) {
  .w-25 {
    width: 100% !important; 
  }
}

body {
  background-color: #bb1616; 
  color: #000000;
  transition: background-color 0.3s, color 0.3s; 
}

.nav-link {
  color: #000000; 
}

.nav-link:focus, button:focus {
  outline: 2px solid #007bff; 
  outline-offset: 2px;
}

.bg-dark {
  background-color: #383434 !important; 
}

.text-white {
  color: #000000 !important; 
}

.dashboard {
  background-color: #ffffff; 
  color: #000000; 
}

.dashboard .nav-link {
  color: #000000; 
}

.dashboard .bg-dark {
  background-color: #ffffff !important; 
}

.dashboard .text-white {
  color: #000000 !important; 
}
